.parent {
    background-color: whitesmoke;
}
/* a:link {
    color: orange;
} */

/* a:visited {
    color: orange;
} */

/* a:hover {
    color: orange;
} */
/* 
a:active {
    color: orange;
} */

/* div p:nth-child(4) {
    color: red;
} */

